@charset "UTF-8";

/* 回答はここに書いてね */
.box {
  width: 900px;
  padding: 20px;
  background-color: #eff3f4;
  margin:0 auto;

}

.text {
  font-size: 18px;
  line-height: 22px;
}

.float1 {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.float2 {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}


/* 回答はここに書いてね */
