@charset "UTF-8";

/* 回答はここに書いてね */
.q_7 .q7__cell {
  width: 225px;
}

.q7_float .q7__cell {
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.q7_float .q7__cell:first-child {
  margin-left: 0;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.q7_table .q7__cell {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.q7_table .q7__cell:first-child {
  padding-left: 0;
}

.q7_table .q7__inside {
  display: table;
}

.q7_inlineblock .q7__cell {
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

.q7_inlineblock .q7__cell:first-child {
  margin-left: 0
}

.q7_inlineblock .q7__inside {
  font-size: 0;
}

.q7_flex .q7__inside {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7_flex .q7__cell {
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

.q7_margin .q7__inside {
  font-size: 0;
}

.q7_margin .q7__cell.is-flexible {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.q7_margin .q7__cell {
  vertical-align: top;
}

.q7_margin .q7_text {
  font-size: 16px;
}

.q7_margin .q7__cell {
  display: inline-block;
  width: 300px;
}


/* 回答はここに書いてね */