@charset "UTF-8";

/* 回答はここに書いてね */
.q3__contents {
  width: 100%;
  table-layout: fixed;
  margin: 0;
  font-size: 100%;
  font: inherit;
}

.q3__contents td {
  line-height: 22px;
  text-align: center;
}

.q3__contents th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.q3__contents td,.q3__contents th {
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
}

.q3__contents tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q3__contents tr:last-child {
  border-top: 2px dashed #000;
}
/* 回答はここに書いてね */
