@charset "UTF-8";


/* 回答はここに書いてね */
.q6__box__inner {
  text-align: center;
}

.q6_firstbox_left {
  background-color: #e6f2ff;
  width: 90px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.q6_firstbox_right {
  background-color: #e6f2ff;
  width: 90px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.q6_centerbox_left {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}

.q6--around.is-table {
  display: table;
}

.q6--around.is-table .q6__box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.q6_centerbox_right {
  padding: 10px;
  background-color: #fff;
  display: table;
}

.q6--around.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


.q6_lastbox_left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.q6_lastbox_right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.q6__box {
  position: relative;

}
